html {
    font-size: 10px;
}
body {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.5;
    
    color: rgb(0,0,0);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
}
h5:hover{
    color: rgb(16, 116, 7);
    text-shadow: 10px 10px 15px rgb(101, 131, 52);
}
h5{
    text-align: center;
    font-size: 20px;
    color: rgb(9, 65, 57);
    text-shadow: 10px 10px 10px rgb(3, 3, 3);
}
h1:hover{
    color: rgb(11, 239, 255);
    text-shadow: 10px 10px 10px rgb(3, 3, 3);

}
h1
{
    font-size: 4rem;
    font-style: oblique ;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 60px;
    margin-left: 400px;
    height: 20px;
    width:50%;
    line-height: 10%;
    color: rgba(3, 3, 73, 0.76);
    text-shadow: 10px 10px 15px rgb(116, 23, 39);
}
h4:hover{
    color: rgb(16, 116, 7);
    text-shadow: 10px 10px 15px rgb(101, 131, 52);
}
h4{
    text-align: center;
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;
    line-height:0%;
    color: rgb(9, 65, 57);
    text-shadow: 10px 10px 10px rgb(3, 3, 3);
}
p{
    font-size: 4rem;
    font-family: "Lucida Console", "Courier New", "monospace";
} 
#title
{
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px; 
}
img {
    max-width: 100%;
    display: block;
    margin: auto;
    margin: 0 auto;
}
#img-div {
    padding: 15px;
    margin:0;
    float: right;
}
p:hover{
        color: rgb(240, 53, 21);
        text-shadow: 2px 2px 5px rgb(182, 11, 11);
}
#img-caption{
    font-size: large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    width:100%;
    color: rgb(32, 6, 6);
    text-align:center;
}
@media(max-width:460) {
    #img-caption {
        font-size: 1.4rem;
    }
}

#career_point{ 
    list-style-type: style type square;
}
#tribute-info{
    font-style: italic;
    font-size:150%
}
#image2{
    padding: 15px;
    margin:0;
    float: left;
}
#image2_caption{
    font-size: large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    width:100%;
    color: rgb(32, 6, 6);
    text-align:center;
}
#image3{
    padding: 10px;
    margin:0px;
    float: right;
}
#image3_caption{
    font-size: large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    width:75%;
    color: rgb(32, 6, 6);
    text-align:center;
}

#last_part{
    text-align: center;
    width: 500px;
    height: 30px;
    padding: 20px;
    margin-left: 500px;
    margin-bottom: 0px;
    background-color: rgb(109, 109, 36);
    box-shadow: 10px 10px grey;
}
a:hover {
    color: rgba(240, 10, 60, 0.788);
  }
